#navbar{
  flex-direction:column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 90px;
}
#aboult .items{
  flex-direction: column;
}
#aboult .items .item{
  width: 100%;
}

.blogs .blog{
  flex-direction: column;
}