/* top bar */
header {
  background-image: url("/images/home_landing2_sectionbg10.png");
  background-repeat: no-repeat;
}

header .navbar {
  background-color: rgba(70, 70, 70, 0.103);
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  height: 110px;
}

header #navbar ul {
  display: flex;
  align-items: center;
}

header #navbar ul li a {
  padding: 0 1.5rem;
  color: black;
}

header #navbar ul li a:hover {
  padding: 0 1.5rem;
  color: #76DDFB;
}

header #navbar .buy {
  color: #fff;
  display: inline-block;
  background-color: #4260A8;
  padding: 0.8rem 2rem;
  border-radius: 10px;
}

/* header content */
header #header-content {
  display: flex;
  padding-top: 7rem;
  padding-bottom: 7rem;

  justify-content: space-between;
  align-items: flex-start;
  min-height: 650px;

}

header #header-content .header-content-text h1 {
  font-size: 3.3rem;
  font-weight: lighter;
  padding: 1rem 0;
}

header #header-content .header-content-text p {
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 1rem 0 2rem 0;
}

header #header-content .header-content-text a {
  background-color: #F27053;
  color: #fff;
  padding: 1rem 1.5rem; 
  border-radius: 10px;
}

header #header-content .header-content-text a:hover {
  background-color: #c95a42;
}
header #header-content .header-content-img {
 align-self: flex-end;
}
header #header-content .header-content-img img{
  width: 580px;
}