body{
    background-color: #000;
    color:#fff;
    font-size: 16px;
    font-family: "Inter",sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr min(1440px, 94%) 1fr ;
    grid-template-rows: 96px 80vh  72px;
}
.container > * {
    grid-column: 2;
}

.container > .fluid{
    grid-column: 1 / -1;
}