.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fafafa;
    text-decoration: none;
  }
  
  .navigationMenu {
    display: flex;
    gap: 48px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .navigationLink {
    color: #fafafa;
    text-decoration: none;

  }